# INTEL CONFIDENTIAL
#
# Copyright 2019-2020 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you ("License").
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

---
image:
  repository: {{ _qat_dp.image }}
  tag: {{ _qat_dp.version }}
pullPolicy: IfNotPresent

drivers:
  dpdk: {{ _qat_dp.dpdk_drivers }}
  kernel: {{ _qat_dp.kernel_drivers }}

maxNumDevices: {{ _qat_dp.max_num_devices }}

debug: {{ _qat_dp.debug | default("false") }}

apparmor:
  profile: {{ _qat_dp.apparmor_profile | default("unconfined") }}
