#!/usr/bin/expect

# INTEL CONFIDENTIAL
#
# Copyright 2020-2020 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you ("License").
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

set du_ready "*CELL*1* is UP"

#detach command
set dt_cmd "\01d" 
set green "\033\[0;32m"
set red "\033\[0;31m"
set reset "\033\[0;0m"

set timeout 300
set ::env(TERM) vt100

spawn screen -S gnb_du kubectl exec -it -n {{ cera_namespace_name }} {{ app_name }} -- bash
set du_id $spawn_id

expect  {
    -i $du_id "]#" {}
    timeout {
        puts "* ${red}Get inside pod timeout${reset}"
        send -i $du_id "$dt_cmd"
        exit 1
    }
}

send -i $du_id "cd {{ cu_du_path }}/DU/bin; \
./oam_du.sh\n"

sleep 1
send -i $du_id "./start_gNB.sh\n"


expect {
    -i $du_id "$du_ready" { puts "* ${green}DU READY${reset}"}
    timeout {
        puts "* ${red}DU timeout${reset}" 
        send -i $du_id "$dt_cmd"
        exit 1
    }
}
send -i $du_id "$dt_cmd"

sleep 1

interact
