#!/usr/bin/env bash

# INTEL CONFIDENTIAL
#
# Copyright 2020-2020 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you ("License").
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

# Terminate CU/DU app
kubectl exec -it -n {{ cera_namespace_name }} {{ app_name }} -- bash -c 'pkill -9 gnb_du'
kubectl exec -it -n {{ cera_namespace_name }} {{ app_name }} -- bash -c 'pkill -9 gnb_cu'

# Terminate L1 app
screen -S gnb_l1 -X stuff 'exit\n'
sleep 5
screen -S gnb_l1 -X stuff '^C\n'
screen -S gnb_l1 -X stuff '^Z\n'
kubectl exec -it -n {{ cera_namespace_name }} {{ app_name }} -- bash -c 'pgrep -f l1 | xargs -L1 kill -9\n'

# Close screen sessions
screen -ls | grep -E 'gnb_'| while read -r line; do a=$(echo $line |awk '{print $1}');  screen -S $a -X quit; done;

exit 0
