# INTEL CONFIDENTIAL
#
# Copyright 2021-2021 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you ("License").
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

---

camera_stream_build: false
camera_stream_pod: false
eis_source: "{{ eis_source }}"
release_package_path: "{{ eis_release_package_path }}"
rtsp_camera_stream_ip: "local-dn-service"
proxy_os_enable: true
proxy_os_remove_old: true
proxy_os_http: "{{ proxy_env.http_proxy }}"
proxy_os_https: "{{ proxy_env.https_proxy }}"
proxy_os_ftp: "{{ proxy_env.ftp_proxy }}"
proxy_os_noproxy: "{{ proxy_env.no_proxy }}"
proxy_yum_url: "{{ proxy_env.http_proxy }}"
demo_type: "{{ eis_demo_app_type }}"
